# Allowlisting gitignore template for projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.

# Ignore everything
*

# But not these files...
!/.gitignore

# PDF with project instruction
!project_instructions.pdf

!README.md
!LICENSE
!Makefile

# Nix 
!*.nix
!flake.lock
!.envrc

# ...even if they are in subdirectories
!*/
